LR4/bin/**
LR4/obj/**
LR4/.vs/**

LR5/bin/**
LR5/obj/**
LR5/.vs/**

LR6/bin/**
LR6/obj/**
LR6/.vs/**

LR7/bin/**
LR7/obj/**
LR7/.vs/**

LR9/LR9/bin/**
LR9/LR9/obj/**
LR9/.vs/**

LR10/LR10/bin/**
LR10/LR10/obj/**
LR10/.vs/**

LR11/LR11/bin/**
LR11/LR11/obj/**
LR11/.vs/**